body{
    padding: 50px;
}
.container{
    max-width: 500px;
    padding: 50px;
    margin: auto;
    box-shadow: rgba(rgba(0, 0, 0, 0.2), 10px, 10px, 79px, 10px);
    background-color: white;
    border-radius: 10%;
    border-color: black;
}

.form-group{
    margin-top: auto;
    margin-bottom: 5px;
    border-color: black;
}

.form-btn{
    margin-left: 20px;
    
}

.container h2{
    text-align: center;
}
.btn-primary{
    width: 300px;
    height: auto;
}


